@{
    ViewBag.Title = "Sobre";
}

<h2>@ViewBag.Message</h2>

<h3>Avaliação Técnica</h3>

    <p>
    Para a solução você deve utilizar código C# e quaisquer outros framework que achar necessário, desde que sejam encontrados no nuget. No pacote você deve incluir apenas código-fonte, ou seja, não enviar qualquer tipo de arquivo binário.
    </p>
    <p>
    Você pode utilizar frameworks visuais ou não (utilizar casos de teste, como nunit) para validar seu código. Não é necessário o uso de banco de dados, pode usar a implementação que preferir (dados fixos no teste unitário e/ou mocks).
    </p>
    <p>
    Lembramos que você tem até 3 dias corridos para enviar sua solução. A avaliação será feita de acordo com sua maturidade profissional, ou seja, a solução de um Júnior será vista de forma diferente a um Sênior.
    </p>