@{
    ViewBag.Title = "Contato";
}

<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Telefone">Tel:</abbr>
    (21) 9 7172 2970
</address>

<address>
    <strong>E-mail:</strong> <a href="mailto:thiagocola@gmai.com">thiagocola@gmail.com</a>
</address>